<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd ">

  <context:component-scan base-package="com.przedwojski.purespring.football"/>

  <bean id="manchesterUnited" class="com.przedwojski.purespring.football.FootballClub">
    <property name="name" value="Manchester United"/>
    <property name="position" value="1"/>
    <property name="description" value=""/>
  </bean>

  <bean id="arsenal" class="com.przedwojski.purespring.football.FootballClub" depends-on="manchesterUnited">
    <property name="name" value="Arsenal London"/>
    <property name="position" value="19"/>
  </bean>

  <!-- Not created because it's not needed right away for the FootballService - lazy -->
  <bean id="liverpool" class="com.przedwojski.purespring.football.FootballClub" lazy-init="true">
    <property name="name" value="Liverpool"/>
    <property name="position" value="18"/>
  </bean>

  <bean id="leicester" class="com.przedwojski.purespring.football.FootballClub" scope="singleton">
    <property name="name" value="Licester"/>
    <property name="position" value="2"/>
  </bean>

<!--  <bean id="footballService" class="com.przedwojski.purespring.FootballService" init-method="show">-->
  <bean id="footballService" class="com.przedwojski.purespring.football.FootballService">
    <property name="clubs">
      <list>
        <ref bean="manchesterUnited"/>
        <ref bean="arsenal"/>
        <!-- Inner bean -->
        <bean class="com.przedwojski.purespring.football.FootballClub">
          <property name="name" value="Manchester City"/>
          <property name="position" value="20"/>
          <property name="description">
            <null/>
          </property>
        </bean>
      </list>
    </property>
  </bean>

  <!-- autowire="byType": "Could not autowire. There is more than one bean of 'List<FootballClub>' type. Beans: manchesterUnited,FootballClub,arsenal,liverpool. Properties: 'clubs'"  -->
<!--  <bean id="autowiredFootballService" class="com.przedwojski.purespring.FootballService" init-method="show" autowire="byType">-->
<!--  </bean>-->

  <bean id="smallBall" class="com.przedwojski.purespring.football.Ball" autowire-candidate="false">
    <constructor-arg value="S"/>
  </bean>

  <bean id="mediumBall" class="com.przedwojski.purespring.football.Ball">
    <constructor-arg value="M"/>
  </bean>

  <bean id="bigBall" class="com.przedwojski.purespring.football.Ball" primary="true">
    <constructor-arg value="L"/>
  </bean>


<!--  <bean id="match" class="com.przedwojski.purespring.Match" autowire="byType"/>-->
<!--  Huh, it's not even necessary to specify the: autowire="byType" as above - it works the same without it -->
<!--  Ok, it worked by default with the "byName" setting - when I changed the id of the bean from 'ball' to 'bigBall' it stopped working if there was also 'smallBall' -->
<!--  But if there was only 'bigBall' it continued to work fine - probably it fell back to the "byType" option -->
<!--  <bean id="match" class="com.przedwojski.purespring.Match" autowire="byType"/>-->


<!--  Changing the match to be a prototype -->
<!--  As expected, match bean is not created - because it's a prototype and it's not requested anywhere. -->
  <bean id="match" class="com.przedwojski.purespring.football.Match" autowire="byType" scope="prototype"/>

  <bean id="matchDay" class="com.przedwojski.purespring.football.MatchDay">
    <property name="matches">
      <list>
        <ref bean="match"/> <!-- Now match prototype should be instantiated -->
        <ref bean="match"/> <!-- And this should create a second instance of the prototype -->
      </list>
    </property>
  </bean>

  <bean class="com.przedwojski.purespring.football.InstantiationTracingBeanPostProcessor"/>

  <bean class="com.przedwojski.purespring.football.League"/>

</beans>